@tailwind base;
@tailwind components;
@tailwind utilities;



.darkmode-button {
  position: absolute;
  right: 0;
}

/* .new {
  background-image: url("/public/assets/proper-morning-giphy.gif");
}

.new-2 {
  background-image: url("/public/assets/proper-night-giphy.gif");
}

.image-one {
  url
} */