@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
}


.darkmode-button {
  position: absolute;
  right: -80%;
}


.nav {
  position: absolute;
  left: 32%;
  top: 1.9%;
  z-index: 100;
  
}

video {
  z-index: -100;
}


/* .squorble {
  position: relative;
 border-radius: 0.5em;
  width: 70%;
  background-color: rgb(154, 97, 134);
} */


/* .new {
  background-image: url("/public/assets/proper-morning-giphy.gif");
}

.new-2 {
  background-image: url("/public/assets/proper-night-giphy.gif");
}

.image-one {
  url
} */